//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

@media (min-width:$tablet) and (max-width:$desktop) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    .presentacion {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        text-align: left;

        .texto-presentacion {
            flex: 1;

            p {
                font-size: 1.3rem;
                line-height: 1.6;
            }
        }

        .imagen-presentacion {
            flex: 1;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .productos {
        .galeria {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            justify-items: center;
            align-items: start;
        }

        .producto {
            width: 100%;
            text-align: center;
            width: 100%;
            max-width: 100%;
            background-color: $color-secundario;
            border-radius: $radio-borde;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .img-producto {
            width: 100%;
            height: 200px;
            border-radius: $radio-borde;
            object-fit: cover;
            margin-bottom: 0.5rem;
        }
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;

        .titulo-servicios {
            grid-column: 1/2;
            font-size: 2rem;
            text-align: left;
        }

        .descripcion-servicios {
            grid-column: 1/2;
            font-size: 1.3rem;
            line-height: 1.5;
            text-align: left;
        }

        .lista-servicios {
            grid-column: 1/2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            list-style: none;
            padding: 0;
        }

        .btn-contacto {
            grid-column: 1/2;
            margin-top: 1rem;
            justify-self: center;
        }

        .img-servicios {
            grid-column: 1/2;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 80vh;
            object-fit: cover;
            border-radius: $radio-borde;
            align-self: center;
        }
    }


    .contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        text-align: center;

        
        h1, h2 {
            grid-row: 1;
            grid-column: 1;
            margin-bottom: 1rem;
        }

        form {
            grid-row: 2;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        .img-contacto {
            grid-row: 3;
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: $radio-borde;
            margin: 0 auto;
        }
    }

    .nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
        text-align: center;


        .texto-nosotros {
            grid-row: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            .titulo-nosotros {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }

            .descripcion-nosotros {
                font-size: 1.2rem;
                line-height: 1.6;
                max-width: 800px;
            }

            .img-nosotros {

                grid-row: 2;
                width: 100%;
                align-self: center;
                max-width: 100%;
                height: auto;
                border-radius: $radio-borde;
                margin: 0 auto;
                object-fit: cover;
            }
        }
    }

    .footer {
        font-size: 1rem;
        padding: 1.2rem;
        text-align: center;
        margin-top: auto;
    }
}