//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;
//ANIMACIONES
@use "../utilities/animations" as *;

//HEADER Y NAV
header {
    .logo-nav{
    background-color: $body-bg;
    border-bottom: 1px solid $color-borde;

        img {
        max-height: 80px;
        }
    }    
}

//MAIN
main {
    padding: 2rem;

    .titulo-principal {
        @include font-size(2.5rem, 1.4);
        margin-bottom: 2rem;
    }
    .presentacion {
        @include section;
        margin-bottom: 3rem;
    }

    .descripcion{
        @include font-size(1.2rem);
        margin-bottom: 2rem;
    }

    //INDEX:PRODUCTOS
    .productos {
        margin-top: 2rem;

        .subtitulo,
        .titulo-productos {
            @include font-size(2rem, 1.3);
            margin-bottom: 1rem;
            text-align: center;
        }

        .texto-productos,
        .descripcion-productos {
            text-align: center;
            margin-bottom: 2rem;
        }

        .galeria {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: stretch;
        }

        .producto {
            flex: 0 0 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            
        }  
           .img-producto {
              width: 100%;
              height: 250px;
              object-fit: cover;
              border-radius: $radio-borde;
              opacity: 0;
              transform: translateY(20px);
              animation: aparecer 1s ease forwards;
             }
           
        


        .producto:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }

    //SERVICIOS
    .servicios {
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding: 2rem;

        .titulo-servicios{
            @include font-size(2rem,1.3);
            margin-bottom: 1rem;
        }

        .descripcion-servicios{
            @include font-size(1.1rem);
            margin-bottom: 2rem;
        }

        .lista-servicios{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin-bottom: 2rem;
            text-align: left;
            
            li {
                background-color: $color-secundario;
                padding: 0.8rem 1rem;
                border-radius:  6px;
                @include sombra(0, 2px, 4px, rgba(0,0,0,0.05));
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .btn-contacto {
            @include boton($color-btn, $color-texto-btn, $color-btn-hover);
            margin-bottom: 2rem;
        }

        .img-servicios {
            width: 100%;
            border-radius: 6px;
            @include sombra;
        }
    }

    //SECTION CONTACTO
    .contacto {
        max-width: 600px;
        margin: 0 auto;

        h1, h2 {
            text-align: center;
            margin-bottom: 1rem;
        }

        form {
            margin-top: 1rem;
        }

        input, textarea {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid $color-borde;
            border-radius: 4px;
        }    
    }

    h1, h2, h3, h4,h5{
        color: $color-acento;
    }

    .nav-link:hover {
        color: $color-acento;
    }
}

//NOSOTROS
.nosotros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include section;
    text-align: center;

    .titulo-nosotros {
        @include font-size(2rem, 1.3);
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .descripcion-nosotros {
        @include font-size(1.1rem);
        flex: 2rem;
        max-width: 800px;
        margin: 0 auto 2rem auto;
    }

    .img-nosotros {
        flex: 1;
        width: 400px;
        max-width: 400px;
        height: auto;
        border-radius: $radio-borde;
        margin: 0 auto;
        object-fit: cover;
        opacity: 0;
        transform: translateY(20px);
        animation: aparecer 1s ease forwards;
    }
    
}

//FOOTER
footer {
    background-color: $color-btn;
    color: $color-texto-btn;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}