//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;
//ANIMACIONES
@use "../utilities/animations" as *;

//HEADER Y NAV
// header {
//     .logo-nav{
//     background-color: $body-bg;
//     border-bottom: 1px solid $color-borde;

//         img {
//         max-height: 80px;
//         }
//     }    
// }
header {
    top: 0;
    z-index: 1000;
    background-color: $color-primario;

    nav.navbar {
        background-color: $color-primario;

        .nav-link {
            color: $color-secundario;
            transition: color 0.3s ease;

            &.active {
                color: $color-secundario;
            }

            &:hover {
                color: $color-hover;
            }
        }
    }
}

//MAIN
main {
    padding: 2rem;

    .titulo-principal {
        @include font-size(2.5rem, 1.4);
        margin-bottom: 2rem;
    }

    .presentacion {
        @include section;
        margin-bottom: 3rem;
    }

    .descripcion {
        @include font-size(1.2rem);
        margin-bottom: 2rem;
    }


    //INDEX:PRODUCTOS
    .productos {
        margin-top: 2rem;

        .subtitulo,
        .titulo-productos {
            @include font-size(2rem, 1.3);
            margin-bottom: 1rem;
            text-align: center;
        }

        .texto-productos,
        .descripcion-productos {
            text-align: center;
            margin-bottom: 2rem;
        }

        .galeria {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: stretch;
        }

        .producto {
            background-color: $color-secundario;
            border-radius: $radio-borde;
            padding: 1rem;
            @include sombra(0, 2px, 6px, rgba(0, 0, 0, 0.1));
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: center;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

            .img-producto {
                width: 100%;
                height: 220px;
                object-fit: cover;
                border-radius: $radio-borde;
                opacity: 0;
                transform: translateY(20px);
                animation: aparecer 1s ease forwards;
                object-fit: cover;
            }
        }

        .producto:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }

    //SERVICIOS
    .servicios {
        max-width: 800px;
        margin: auto;
        text-align: center;
        padding: 2rem;

        .titulo-servicios {
            @include font-size(2rem, 1.3);
            margin-bottom: 1rem;
        }

        .descripcion-servicios {
            @include font-size(1.1rem);
            margin-bottom: 2rem;
        }

        .lista-servicios {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin-bottom: 2rem;
            text-align: left;

            li {
                background-color: $color-secundario;
                padding: 0.8rem 1rem;
                border-radius: 6px;
                @include sombra(0, 2px, 4px, rgba(0, 0, 0, 0.05));
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }


        .btn-contacto {
            @include boton($color-acento, #fff, $color-hover);
            cursor: pointer;
            font-weight: bold;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
            }
        }



        .img-servicios {
            width: 100%;
            border-radius: 6px;
            @include sombra;
        }
    }

    //SECTION CONTACTO
    .contacto {
        max-width: 600px;
        margin: 0 auto;

        h1,
        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }

        form {

            input,
            textarea {
                width: 100%;
                padding: 0.8rem;
                border: 1px solid $color-borde;
                border-radius: 4px;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: $color-acento;
                    outline: none;
                    box-shadow: 0 0 5px rgba(192, 0, 0, 0.3);
                }
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color-acento;
    }

    .nav-link:hover {
        color: $color-acento;
    }
}

//NOSOTROS
.nosotros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include section;
    text-align: center;

    .titulo-nosotros {
        @include font-size(2rem, 1.3);
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .descripcion-nosotros {
        @include font-size(1.1rem);
        flex: 2rem;
        max-width: 800px;
        margin: 0 auto 2rem auto;
    }

    .img-nosotros {
        flex: 1;
        width: 400px;
        max-width: 400px;
        height: auto;
        border-radius: $radio-borde;
        margin: 0 auto;
        object-fit: cover;
        opacity: 0;
        transform: translateY(20px);
        animation: aparecer 1s ease forwards;
    }

}

//FOOTER

footer {
    background-color: $color-primario;
    color: $color-secundario;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    margin-top: auto;

    a {
        color: $color-acento;
        margin: 0 0.5rem;
        transition: color 0.3s ease;

        &:hover {
            color: $color-hover;
        }
    }
}